.container{
    margin: 2rem 10rem;
    padding: 2rem;
}

.header{
    text-transform: uppercase;
    color: #fff;
    
    .first-text{
        padding-right: 5rem;
        font-size: 2rem;
        text-transform: uppercase;
    }
    
    
    
    .header__bold{
        font-size: 2rem;
    }
    &__bold{
        
    }
    
    &__nav{
    }
    
    &__link{
        border-radius: 1rem;
        margin: 1rem 0;
        background: white;
        text-align: center; 
        font-size: 1.3rem;
        list-style: none;
        text-transform: uppercase;
        color: black;
        display: flex;
        justify-content: center;
        height: 4rem;
        align-items: center;
    }
    &__link-item:link,
    &__link-item:visited{
        padding: 1rem;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    
    &-img{
        border: 5px solid white;
        border-radius: 2rem;
        overflow: hidden;

        &__slider{
            width: 100%;
        }

        &__ul{
            list-style: none;
            display: flex;
            height: 5rem;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        &__item:link,
        &__item:visited
        {
            box-decoration-break: clone; 
            text-decoration: none;
            color: rgb(212, 207, 207);
            padding: 2rem;
            flex-wrap: nowrap;
            align-self: center;
        }
    }


}

